<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Users with Templates Assignment">
        <title>All The Users</title>
        {% load static %}
        <link rel="stylesheet" href='{% static "css/index.css" %}'
    </head>
    <body>
        <div id="div-content">
            <div id="div-alltheusers">
                <h1>All The Users</h1>
                <table>
                    <thead>
                        <tr>
                            <th class="td-id">ID</th>
                            <th class="td-name">Name</th>
                            <th class="td-email">Email</th>
                            <th class="td-age">Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td class="td-id">{{user.id}}</td>
                                <td class="td-name">{{user.first_name}} {{user.last_name}}</td>
                                <td class="td-email">{{user.email_address}}</td>
                                <td class="td-age">{{user.age}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="div-thenewuser">
                <h1>Add A User</h1>
                <form method="POST" action="/new_user_form">
                    {% csrf_token %}
                    <div>
                        <label for="first_name">First Name </label>
                        <input type="text" name="first_name" id="first_name">

                        <label for="last_name">Last Name </label>
                        <input type="text" name="last_name" id="last_name">
                    </div>
                    <div>
                        <label for="email_address">Email </label>
                        <input type="email" name="email_address" id="email_address">

                        <label for="age">Age </label>
                        <input type="number" name="age" id="age">
                    </div>
                    <input type="submit" value="Add">
                </form>
            </div>
        </div>
    </body>
</html>
